<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.depotmanage.mapper.GoodsMapper">

    <select id="findAllById" resultType="com.example.depotmanage.controller.DTO.GoodsDTO">
        SELECT shelf.position_x positionX,shelf.position_y positionY,bin.position_z positionZ,goods.name goodsName,bin.SN binSn
        FROM bin
        LEFT JOIN shelf ON bin.shelf_id=shelf.id
        LEFT JOIN goods ON bin.goods_SN=goods.SN
        WHERE bin.is_load=1 and house_id=#{houseId}
    </select>
</mapper>
